.col-md-12.row.search-row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.client-form {
    margin: 40px 20px 55px 40px;
}

.create-invoice-form{
    margin: 40px 20px 55px 40px;
}

.create-invoice-btn{
    margin-right: 10px;
    margin-top: 0px;
}